html, body{
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
body{
    position: relative;
}
p, a, h1, h2, h3, h4, h5, h6, li, small, span, label, font, div, table, tr, td, ul, li, input, select, textarea, button{
    text-decoration: none !important;
    /*box-shadow: none !important;*/
    text-shadow: none !important;
    outline: none !important;
    line-height: 1.3em;
    letter-spacing: 0.04em;
    font-family: 'Titillium Web';
    margin: 0px;
    padding: 0px;
}
.bloco{
    width: 100%;
}


/* ------------ Fontes do Site --------------

    font-family: 'Titillium Web';
    font-family: 'Panton Black Caps';
    font-family: 'Panton Black italic Caps';
    font-family: 'Panton Light Caps';
    font-family: 'Panton Light italic Caps';

--------------------------------------------- */


.bloco{
    position: relative;
    z-index: 9998;
    background-color: #fff;
}


.index#topo{
    background-image: url('../img/bg-ceu-topo.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.index#topo .ruido{
    width: 100%;
    height: 100%;
    background-image: url('../img/bg-ruido.gif');
    opacity: .04;
    z-index: 998;
    position: absolute;
    background-attachment: fixed;
}
.bar-topo{
    z-index: 999;
    position: fixed;
    top: 0px;
    width: 100%;
}
.bar-topo .container-fluid{
    padding: 0px;
}
.bar-topo .barras .item{
    border-top: 15px solid transparent;
}
.bar-topo .barras .item.amarelo{
    border-top-color: #f7bd2b;
}
.bar-topo .barras .item.vermelho{
    border-top-color: #de294c;
}
.bar-topo .barras .item.azul{
    border-top-color: #009c9d;
}
.bar-topo .item.redes-sociais{
    padding-top: 17px;
}
.bar-topo .item.redes-sociais a{
    transition: .2s;
    display: inline-block;
    margin: 0 6px;
    position: relative;
}
.bar-topo .item.redes-sociais a:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    position: absolute;
    left: 70%;
    opacity: 0;
    transform: translateX(-50%);
    top: -64px;
    transition: .5s;

    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #de294c;
}
.bar-topo .item.redes-sociais .svg{
    width: 27px;
}
.bar-topo .item.redes-sociais a:hover:before{
    transition: .25s;
    top: -32px;
    opacity: 1;
}

.index#topo .textos{
    position: fixed;
    top: 45%;
    width: 100%;
    z-index: 999;
    transform: translateY(-50%);
}
.index#topo .textos svg.logo{
    width: 240px;
    margin-bottom: 50px;
}
.index#topo .textos h2{
    margin-bottom: 25px;
    font-size: 26px;
    font-family: 'Panton Light Caps';
    color: #444;
    letter-spacing: 0.05em;
}
.index#topo .textos h2 font{
    margin: 0 40px;
    font-size: 28px;
}
.index#topo .textos h2 font.design{
    color: #de294c;
    font-family: 'Panton Black Caps';
}
.index#topo .textos h2 font.musica{
    color: #009c9d;
    font-family: 'Panton Black Caps';
}
.index#topo .textos h2 font.video{
    color: #f7bd2b;
    font-family: 'Panton Black Caps';
}
.index#topo .textos p{
    color: #000000;
    font-size: 15px;
    letter-spacing: 0.05em;
    opacity: 0.8;
    margin-bottom: 30px;
}
.index#topo .textos a.mouse{
    display: inline-block;
    transition: .2s;
}
.index#topo .textos a.mouse:hover{
    opacity: 0.7;
    transition: .2s;
}
.index#topo .textos a.mouse img{
    width: 25px;
}

.index#topo .nuvens{
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 9999;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.index#topo .nuvens div{
    width: 130%;
    height: 130%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.index#topo .nuvens div img{
    width: 120%;
    position: absolute;
    bottom: -50px;
    left: -20%;
}


.index#portfolio{
    padding-top: 50px;
    padding-bottom: 40px;
}
.index#portfolio .title{
    margin-bottom: 80px;
}
/*
    .index#portfolio .title img{
        margin-bottom: 30px;
        width: 200px;
    }
*/
.index#portfolio .title h2{
    color: #111;
    font-size: 32px;
    letter-spacing: 0.15em;
    margin-bottom: 20px;
    font-family: 'Panton Black Caps';
}
.index#portfolio .title p{
    color: #000000;
    font-size: 15px;
    padding: 0 20px;
    letter-spacing: 0.06em;
    line-height: 1.3em;
    opacity: 0.7;
}
.index#portfolio .galeria{
    margin: 0 -3px;
}
.index#portfolio .galeria .item{
    padding: 0 3px;
    margin-bottom: 2px;
}
.index#portfolio .galeria .item a{
    display: inline-block;
    background-color: #fafafa;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.index#portfolio .galeria .item a .bar-categorias{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99;
}
.index#portfolio .galeria .item a .bar-categorias .row{
    margin: 0px;
}
.index#portfolio .galeria .item a .bar-categorias .row > div{
    padding: 0px;
}
.index#portfolio .galeria .item a .bar-categorias .row > div.bar{
    min-height: 0;
    height: 10px;
    transform: translateY(-10px);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}
.index#portfolio .galeria .item a .bar-categorias .row > div.bar.time-1{
    transition: all .3s ease-in-out;
}
.index#portfolio .galeria .item a .bar-categorias .row > div.bar.time-2{
    transition: all .4s ease-in-out;
}
.index#portfolio .galeria .item a .bar-categorias .row > div.bar.time-3{
    transition: all .5s ease-in-out;
}
.index#portfolio .galeria .item a .bar-categorias .row > div.bar.amarelo{
    background: #f7bd2b;
}
.index#portfolio .galeria .item a .bar-categorias .row > div.bar.vermelho{
    background: #de294c;
}
.index#portfolio .galeria .item a .bar-categorias .row > div.bar.azul{
    background: #009c9d;
}
.index#portfolio .galeria .item a:hover .bar-categorias .row > div.bar{
    transform: translateY(0);
    -webkit-transform:translate3d(0,0,0);
}
.index#portfolio .galeria .item a .bg{
    background-position: center;
    background-size: cover;
    transition: .3s;
}
.index#portfolio .galeria .item a .img{
    position: relative;
    transition: .3s;
}
.index#portfolio .galeria .item a:hover .bg{
    opacity: 0.6;
    transition: .3s;
}
.index#portfolio .galeria .item a:hover .img{
    opacity: 0.6;
    transition: .3s;
}
.index#portfolio .galeria .item a .img img{
    max-width: 60%;
    max-height: 40%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}




.bar-topo.portfolio-ver{
    position: fixed;
    z-index: 99999;
}

.portfolio-ver#topo{
    padding: 0 10px;
    padding-top: 0px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.portfolio-ver#topo .ruido{
    width: 100%;
    height: 100%;
    background-image: url('../img/bg-ruido.gif');
    opacity: .05;
    position: absolute;
    background-attachment: fixed;
}
.portfolio-ver#topo .topo{
    padding-top: 35px;
}
.portfolio-ver#topo .topo .logo{

}
.portfolio-ver#topo .topo .logo a{
    display: inline-block;
    float: left;
}
.portfolio-ver#topo .topo .logo .svg.img-logo{
    width: 50px;
    display: inline-block;
    margin-right: 10px;
}
.portfolio-ver#topo .topo .logo .svg.img-logo path{
    fill: #fff !important;
}
.portfolio-ver#topo .topo .logo h4{
    color: #fff;
    font-size: 13px;
    margin-top: 15px;
    display: inline-block;
    font-family: 'Panton Light Caps';
    font-weight: 300;
}
.portfolio-ver#topo .topo .redes-sociais{

}
.portfolio-ver#topo .topo .redes-sociais a{
    margin: 0 6px;
    display: inline-block;
    transition: .2s;
}
.portfolio-ver#topo .topo .redes-sociais a:hover{
    opacity: 0.7;
    transition: .2s;
}
.portfolio-ver#topo .topo .redes-sociais a .svg{
    width: 23px;
}
.portfolio-ver#topo .topo .redes-sociais a .svg path{
    fill: #fff !important;
}
.portfolio-ver#topo .depoimento{
    padding-top: 60px;
    padding-bottom: 90px;
}
.portfolio-ver#topo .depoimento p{
    color: #fff;
    font-size: 17px;
    font-style: italic;
    font-weight: 300;
    opacity: 0.7;
    letter-spacing: 0.05em;
    line-height: 1.4em;
}
.portfolio-ver#topo .depoimento h4{
    color: #fff;
    font-weight: bold;
    opacity: 0.9;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    margin-right: -150px;
}

.portfolio-ver#info{
    background-color: #f3f3f3;
    padding-top: 15px;
    padding-bottom: 18px;
    z-index: 99997;
}
.portfolio-ver#info.fixed{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
}
.portfolio-ver#info .logo{
    text-align: left;
}
.portfolio-ver#info .logo img{
    width: 70%;
    margin-top: 0px;
    margin-bottom: -81px;
    display: inline-block;
}
.portfolio-ver#info .texto{
    position: relative;
    left: -30px;
}
.portfolio-ver#info .texto h2{
    color: #2d2d2d;
    font-size: 30px;
    font-family: 'Panton Black Caps';
    font-weight: 900;
    margin-bottom: 5px;
}
.portfolio-ver#info .texto h2 small{
    font-size: 15px;
    color: #777777;
    letter-spacing: 0.01em;
    font-family: 'Panton Light Caps';
    font-weight: 300;
    vertical-align: middle;
}
.portfolio-ver#info .texto h2 small .svg{
    width: 14px;
    margin-right: 3px;
    position: relative;
    top: 2px;
    margin-left: 15px;
}
.portfolio-ver#info .texto h2 small .svg path{
    fill: #777777 !important;
}
.portfolio-ver#info .texto h3:before{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    position: relative;
    top: -1px;
    margin-right: 5px;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #777777;
}
.portfolio-ver#info .texto h3{
    font-size: 14px;
    color: #777777;
    letter-spacing: 0.01em;
    font-family: 'Panton Light Caps';
    font-weight: 300;
}
.portfolio-ver#info .texto h3 a{
    font-size: 14px;
    color: #777777;
    letter-spacing: 0.01em;
    font-family: 'Panton Light Caps';
    font-weight: 300;
    cursor: pointer;
    transition: .2s;
}
.portfolio-ver#info .texto h3 a:hover{
    opacity: .6;
    transition: .2s;
}
.portfolio-ver#info .texto h3 a.active{
    color: #2d2d2d;
    font-size: 15.5px;
    font-family: 'Panton Black Caps';
    font-weight: 900;
    opacity: 1 !important;
}
.portfolio-ver#info .like{
    padding-left: 0px;
}
.portfolio-ver#info .like h4{
    width: 100%;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
    font-size: 17px;
    text-align: center;
    color: #777777;
    font-family: 'Panton Light Caps';
    margin-top: 22px;
}
.portfolio-ver#info .like h4 img{
    width: 20px;
    margin-right: 4px;
}

.portfolio-ver#conteudo{
    padding-top: 80px;
    padding-bottom: 20px;
}
.portfolio-ver#conteudo .item{
    margin-bottom: 60px;
}
.portfolio-ver#conteudo .item .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin-bottom: 25px;
}
.portfolio-ver#conteudo .item .embed-container iframe,
.portfolio-ver#conteudo .item .embed-container object,
.portfolio-ver#conteudo .item .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.portfolio-ver#conteudo .item h2{
    font-size: 22px;
    letter-spacing: 0.1em;
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.portfolio-ver#conteudo .item p{
    color: #000000;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 0.05em;
    opacity: 0.6;
    margin-bottom: 10px;
    width: 70%;
    display: inline-block;
}
.portfolio-ver#conteudo .item img{
    margin-bottom: 25px;
}
.portfolio-ver#conteudo .item iframe{
    width: 80%;
    height: 10px;
    margin-bottom: 25px;
}
.portfolio-ver#conteudo .item iframe.youtube{
    width: 55%;
    margin-bottom: 25px;
}


.portfolio-ver.seta-alterar{
    position: fixed;
    height: 450px;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    z-index: 99999;
    display: inline-block;
    text-align: center;
    transition: .2s;
    background-size: cover;
}
.portfolio-ver.seta-alterar:hover{
    opacity: 0.7;
    transition: .2s;
}
.portfolio-ver.seta-alterar .svg{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 15px;
}
.portfolio-ver.seta-alterar .svg path{
    fill: #fff !important;
}

.portfolio-ver.seta-alterar.esquerda{
    left: 0px;
    text-align: left;
    padding-left: 10px;
    background-image: url('../img/bg-seta-esquerda.png');
    background-position: center left;
}
.portfolio-ver.seta-alterar.direita{
    right: 0px;
    text-align: right;
    padding-right: 10px;
    background-image: url('../img/bg-seta-direita.png');
    background-position: center right;
}





.rodape{

}
.rodape#newsletter{
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 70px;
    text-align: center;
}
.rodape#newsletter h3{
    font-size: 19px;
    color: #111;
    font-weight: bold;
    margin-bottom: 1px;
}
.rodape#newsletter p{
    color: #777;
    font-size: 15px;
    letter-spacing: 0.08em;
    line-height: 1.4em;
    margin-bottom: 40px;
}
.rodape#newsletter form{
    margin: 0 -50px;
    position: relative;
}
.rodape#newsletter form .flex {
    display: flex;
}
.rodape#newsletter form .form-control{
    background-color: #292929;
    color: #fff;
    font-size: 15px;
    height: auto;
    font-weight: 300;
    letter-spacing: 0.05em;
    padding: 16px 80px;
    text-align: center;
    border-radius: 0px;
    box-shadow: none;
    border: none;
}
.rodape#newsletter form .form-control::-webkit-input-placeholder { /* Edge */
    color: #fff;
}
.rodape#newsletter form .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}
.rodape#newsletter form .form-control::placeholder {
    color: #fff;
}
.rodape#newsletter form img.origami{
    position: absolute;
    left: -10px;
    top: -33.5px;
    width: 90px;
    z-index: 99;
}
.rodape#newsletter form img.carta-input{
    position: absolute;
    left: 20px;
    z-index: 95;
    width: 50px;
    top: 11px;
}

.rodape#newsletter form .submit-group {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape#newsletter form .submit-group button {
    padding: 0 20px;
    height: 100%;
    border: none;
    background-color: #585858;
    transition: .2s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.rodape#newsletter form .submit-group button:hover{
    background-color: #444;
    transition: .2s;
}
.rodape#newsletter form .submit-group button .svg{
    width: 27px;
}

.rodape#newsletter form .submit-group .loader {
    display: none;
    position: absolute;
    border: 4px solid #fff; /* Light grey */
    border-top: 4px solid #3e3e3e; /* Blue */
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.rodape#newsletter form .submit-group.loading button {
    background: #ccc;
}

.rodape#newsletter form .submit-group.loading .loader {
    display: block;
}

.rodape#informacoes-contato{
    background-color: #2a2a2a;
}
.rodape#informacoes-contato .logo{
    position: relative;
    padding: 0px;
}
.rodape#informacoes-contato .logo .carousel{

}
.carousel-fade .carousel-inner .item {
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}
.rodape#informacoes-contato .logo .carousel .item{
    padding: 110px 0;
}
.rodape#informacoes-contato .logo .carousel .item.musica{
    background-color: #009c9d;
}
.rodape#informacoes-contato .logo .carousel .item.design{
    background-color: #de294c;
}
.rodape#informacoes-contato .logo .carousel .item.filme{
    background-color: #f7bd2b;
}
.rodape#informacoes-contato .logo .carousel .item .svg{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    height: 120px;
}


.rodape#informacoes-contato .informacoes{
    position: relative;
    padding-left: 80px;
}
.rodape#informacoes-contato .informacoes .row{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.rodape#informacoes-contato .informacoes .unidade,
.rodape#informacoes-contato .informacoes .emails{
    padding-top: 12px;
    padding-bottom: 7px;
    border-left: 1px solid rgba(240,240,240,.1);
}

.rodape#informacoes-contato .icon-line{
    position: absolute;
    top: 50%;
    left: -11px;
    transform: translateY(-50%);
    padding: 5px 0;
    background-color: #2a2a2a;
}
.rodape#informacoes-contato .icon-line .svg path{
    fill: #fff !important;
    opacity: .3;
}
.rodape#informacoes-contato .icon-line .svg{
    width: 21px;
    height: 25px;
}


.rodape#informacoes-contato .informacoes .row > div{
    padding-left: 25px;
}
.rodape#informacoes-contato .informacoes h4{
    font-size: 16px;
    margin-bottom: 7px;
    color: #b6b6b6;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Panton Black Caps';
}
.rodape#informacoes-contato .informacoes a,
.rodape#informacoes-contato .informacoes p{
    color: #989898;
    font-size: 13.5px;
    line-height: 1.5em;
}
.rodape#informacoes-contato .informacoes .emails{
    padding-top: 10px;
    padding-bottom: 10px;
}

.rodape#redes-sociais{
    background-color: #252525;
    padding: 15px 0;
}
.rodape#redes-sociais a{
    transition: .2s;
    display: inline-block;
    margin: 0 9px;
}
.rodape#redes-sociais a .svg{
    width: 26px;
}
.rodape#redes-sociais a .svg path{
    fill: #989898 !important;
}
.rodape#redes-sociais a:hover{
    transition: .2s;
    opacity: 0.6;
}

.rodape#direitos{
    background-color: #1d1d1d;
    padding: 60px 0;
    padding-bottom: 55px;
}
.rodape#direitos p{
    color: rgba(255,255,255,.35);
    font-family: 'Titillium Web';
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.15em;
    line-height: 1em;
}


.modal{
    z-index: 99999;
    height: 100%;
    margin: 0px;
    display: none;
}
.modal#modal-alerta .modal-dialog{
    max-width: 95%;
    width: 400px;
    margin-top: 0px;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}.modal#modal-alerta-construcao .modal-dialog{
    max-width: 95%;
    width: 400px;
    margin-top: 0px;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}
.modal#modal-alerta .modal-dialog .modal-content{
    border-radius: 22px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 40px rgba(0, 0, 0, .2);
}.modal#modal-alerta-construcao .modal-dialog .modal-content{
    border-radius: 22px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 40px rgba(0, 0, 0, .2);
}

.modal#modal-alerta .modal-dialog .modal-content .modal-header .modal-header-img{
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 80px;
    text-align: center;
    opacity: .3;
}.modal#modal-alerta-construcao .modal-dialog .modal-content .modal-header .modal-header-img{
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 80px;
    text-align: center;
    opacity: .2;
}

.modal.success#modal-alerta .modal-dialog .modal-content{
    background-color: #169c9c;
}

.modal.success#modal-alerta .modal-dialog .modal-content .modal-header .modal-header-img{
    background-image: url('../img/vetor-send.png');
}

.modal.error#modal-alerta .modal-dialog .modal-content{
    background-color: #e4274f;
}

.modal.error#modal-alerta .modal-dialog .modal-content .modal-header {
    padding: 0 15px 35px;
}
.modal.success#modal-alerta .modal-dialog .modal-content .modal-header {
    padding: 55px 15px 20px;
}

.modal.error#modal-alerta .modal-dialog .modal-content .modal-header .modal-header-img{
    background-image: url('../img/vetor-gaiola-new.png');
    height: 120px;
}

.modal#modal-alerta .modal-dialog .modal-content .modal-header{
    padding: 45px;
    border: none;
}.modal#modal-alerta-construcao .modal-dialog .modal-content .modal-header{
    padding: 45px;
    border: none;
}
.modal#modal-alerta .modal-dialog .modal-content .modal-header button{
    color: #fff;
}.modal#modal-alerta-construcao .modal-dialog .modal-content .modal-header button{
    color: #fff;
}
.modal#modal-alerta .modal-dialog .modal-content .modal-body h4.modal-title{
    color: #000;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 19px;
    letter-spacing: 0.07em;
    font-family: 'Panton Black Caps';
}.modal#modal-alerta-construcao .modal-dialog .modal-content .modal-body h4.modal-title{
    color: #000;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 19px;
    letter-spacing: 0.07em;
    font-family: 'Panton Black Caps';
}
.modal#modal-alerta .modal-dialog .modal-content .modal-body{
    padding: 60px 40px;
    border: none;
    background-color: #fff;
    text-align: center;
}.modal#modal-alerta-construcao .modal-dialog .modal-content .modal-body{
    padding: 60px 40px;
    border: none;
    background-color: #fff;
    text-align: center;
}

.modal#modal-alerta .modal-dialog .modal-content .modal-body .modal-button-close{
    position: relative;
    margin-top: 20px;
    border-radius: 0 30px 30px 20px;
    padding: 4px 35px;
    color: #fff;
    transition: .3s;
    font-size: 13px;
}.modal#modal-alerta-construcao .modal-dialog .modal-content .modal-body .modal-button-close{
    position: relative;
    margin-top: 20px;
    border-radius: 0 30px 30px 20px;
    padding: 4px 35px;
    color: #fff;
    transition: .3s;
    font-size: 13px;
}

.modal.success#modal-alerta .modal-dialog .modal-content .modal-body .modal-button-close{
    background: #00959e;
}

.modal.success#modal-alerta .modal-dialog .modal-content .modal-body .modal-button-close:hover{
    background: #00c2cb;
}

.modal.error#modal-alerta .modal-dialog .modal-content .modal-body .modal-button-close{
    background: #e4274f;
}

.modal.error#modal-alerta .modal-dialog .modal-content .modal-body .modal-button-close:hover{
    background: #f92852;
}

.modal#modal-alerta .modal-dialog .modal-content .modal-body .modal-button-close:after{
    top: 20px;
    left: 30px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 0 solid transparent;
    border-bottom: 18px solid transparent;
    transition: .3s;
}.modal#modal-alerta-construcao .modal-dialog .modal-content .modal-body .modal-button-close:after{
    top: 20px;
    left: 30px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 0 solid transparent;
    border-bottom: 18px solid transparent;
    transition: .3s;
}

.modal.success#modal-alerta .modal-dialog .modal-content .modal-body .modal-button-close:after{
    border-left: 17px solid #00959e;
}

.modal.success#modal-alerta .modal-dialog .modal-content .modal-body .modal-button-close:hover:after{
    border-left: 17px solid #00c2cb;
}

.modal.error#modal-alerta .modal-dialog .modal-content .modal-body .modal-button-close:after{
    border-left: 17px solid #e4274f;
}

.modal.error#modal-alerta .modal-dialog .modal-content .modal-body .modal-button-close:hover:after{
    border-left: 17px solid #f92852;
}

.modal#modal-alerta .modal-dialog .modal-content .modal-body p{
    text-align: center;
}.modal#modal-alerta-construcao .modal-dialog .modal-content .modal-body p{
    text-align: center;
}

.modal-backdrop{
    background-color: #fff;
    opacity: .8;
    z-index: 99998;
}

.modal-backdrop.in {
    opacity: .8;
}

.modal#modal-alerta-construcao .modal-dialog .modal-content .modal-header {
    padding: 0;
}

.modal#modal-alerta-construcao .modal-dialog .modal-content .modal-header .modal-header-img{
    background-image: url('../img/ilustra_ninho.png');
    background-position: center center;
    background-size: 57%;
    opacity: 1;
    height: 150px;
}

.modal#modal-alerta-construcao .modal-dialog .modal-content {
    background: #FFF;
    padding: 60px 0;
}

.modal#modal-alerta-construcao .modal-dialog .modal-content .modal-body{
    padding: 0 60px;
}

.modal#modal-alerta-construcao .modal-dialog .modal-content .modal-body p{
    margin: 30px 0 0 0;
}

.modal#modal-alerta-construcao .modal-dialog .modal-content .modal-body img{
    display: block;
    margin: 30px auto;
}

.modal#modal-alerta-construcao .modal-dialog .modal-content .modal-body .modal-button-close{
    background: #00959e;
    margin-top: 0;
}

.modal#modal-alerta-construcao .modal-dialog .modal-content .modal-body .modal-button-close:hover{
    background: #00c2cb;
}

.modal#modal-alerta-construcao .modal-dialog .modal-content .modal-body .modal-button-close:after{
    border-left: 17px solid #00959e;
}

.modal#modal-alerta-construcao .modal-dialog .modal-content .modal-body .modal-button-close:hover:after{
    border-left: 17px solid #00c2cb;
}


#idiomas {
    position: fixed;
    right: 20px;
    top: 30px;
    z-index: 9999;
    display: flex;
}
#idiomas a:first-child {
    margin-right: 10px;
}
/*#idiomas a:hover{*/
    /*opacity: 0.9;*/
    /*transition: all .1s ease-in-out;*/
    /*transform: scale(1.1);*/
/*}*/
/*#idiomas a .svg{*/
    /*width: 28px;*/
/*}*/

#idiomas a img {
    display: block;
    width: 28px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

#idiomas a img.normal {
    position: relative;
    filter: alpha(opacity=100); /* IE stuff */
    opacity: 1;
    z-index: 2;
}

#idiomas a img.hover{
    position: absolute;
    top: 0;
    filter: alpha(opacity=0); /* IE stuff */
    opacity: 0;
    z-index: 1;
}

#idiomas a:hover img.normal{
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 1;
}

#idiomas a:hover img.hover{
    filter: alpha(opacity=100);
    opacity: 1;
    z-index: 2;
}





.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
position: relative;
min-height: 1px;
padding-right: 10px;
padding-left: 10px;
}


/* Medias queries */
@media (min-width: 1200px){
    .container {
        width: 1100px !important;
    }
}
@media (max-width: 1000px){

}
@media (min-width: 768px) {

	.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (max-width: 768px) {

    .container {
        padding: 0 30px;
    }

    .index#topo{

    }
    .bar-topo .barras .item{
        border-top-width: 10px;
    }
    .bar-topo .item.redes-sociais{
        padding-top: 12px;
    }
    .bar-topo .item.redes-sociais a{
        margin: 0 4px;
    }
    .bar-topo .item.redes-sociais a:before{
        display: none;
    }
    .bar-topo .item.redes-sociais img{
        width: 25px;
    }

    .index#topo .textos{
        top: 50%;
        transform: translateY(-50%);
    }
    .index#topo .textos .svg.logo{
        width: 190px;
        margin-bottom: 26px;
    }
    .index#topo .textos h2{
        margin-bottom: 20px;
        font-size: 17px;
        letter-spacing: 0.04em;
    }
    .index#topo .textos h2 font{
        margin: 0 15px;
        font-size: 20px;
    }
    .index#topo .textos p{
        font-size: 14px;
        margin-bottom: 20px;
        line-height: 1.2em;
    }
    .index#topo .textos a.mouse img{
        width: 20px;
    }

    .index#topo .nuvens{

    }
    .index#topo .nuvens div{

    }
    .index#topo .nuvens .pretas{
        margin-bottom: 15px;
    }
    .index#topo .nuvens .cinzas{
        margin-bottom: 5px;
    }
    .index#topo .nuvens div img{
        bottom: 0px;
    }


    .index#portfolio{
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .index#portfolio .title{
        margin-bottom: 40px;
    }
    .index#portfolio .title h2{
        font-size: 22px;
        margin-bottom: 20px;
    }
    .index#portfolio .title p{
        font-size: 14px;
        padding: 0 10px;
        letter-spacing: 0.05em;
        line-height: 1.25em;
    }
    .index#portfolio .galeria{
        margin: 0 -2px;
    }
    .index#portfolio .galeria .item{
        padding: 0 2px;
        margin-bottom: 1px;
    }
    .index#portfolio .galeria .item a{

    }
    .index#portfolio .galeria .item a .bg{

    }
    .index#portfolio .galeria .item a .img{

    }
    .index#portfolio .galeria .item a .img img{

    }





    .portfolio-ver#topo{
        padding: 0px;
        padding-top: 0px;
    }
    .portfolio-ver#topo .topo{
        padding-top: 22px;
    }
    .portfolio-ver#topo .topo .logo{

    }
    .portfolio-ver#topo .topo .logo .svg.img-logo{
        width: 45px;
        margin-right: 5px;
    }
    .portfolio-ver#topo .topo .logo h4{
        font-size: 12.5px;
        margin-top: 12px;
    }
    .portfolio-ver#topo .topo .redes-sociais{
        margin-top: 35px;
        text-align: center;
    }
    .portfolio-ver#topo .topo .redes-sociais a{
        margin: 0 7px;
    }
    .portfolio-ver#topo .topo .redes-sociais a img{
        width: 22px;
    }
    .portfolio-ver#topo .depoimento{
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .portfolio-ver#topo .depoimento p{
        font-size: 14px;
        letter-spacing: 0.03em;
        line-height: 1.3em;
    }
    .portfolio-ver#topo .depoimento h4{
        font-size: 15px;
        margin-right: -100px;
    }

    .portfolio-ver#info{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .portfolio-ver#info .logo{
        padding-right: 0px;
    }
    .portfolio-ver#info .logo img{
        width: 100%;
        margin-top: 0px;
        margin-bottom: -10px;
    }
    .portfolio-ver#info .texto{
        padding-right: 0px;
        left: 0px;
    }
    .portfolio-ver#info .texto h2{
        font-size: 16px;
        margin-bottom: 4px;
    }
    .portfolio-ver#info .texto h2 small{
        font-size: 10px;
    }
    .portfolio-ver#info .texto h2 small .svg{
        width: 8px;
        position: relative;
        top: -1px;
        margin-right: 3px;
        margin-left: 8px;
    }
    .portfolio-ver#info .texto h3{
        font-size: 12px;
    }
    .portfolio-ver#info .texto h3 a{
        font-size: 12px;
    }
    .portfolio-ver#info .like{
        padding: 0px;
    }
    .portfolio-ver#info .like h4{
        border: none;
        font-size: 14px;
        margin-top: 2px;
        position: relative;
        right: -10px;
    }
    .portfolio-ver#info .like h4 img{
        width: 12px;
        margin-right: 4px;
    }

    .portfolio-ver#conteudo{
        padding-top: 40px;
        padding-bottom: 10px;
    }
    .portfolio-ver#conteudo .item{
        margin-bottom: 45px;
    }
    .portfolio-ver#conteudo .item h2{
        font-size: 17px;
        letter-spacing: 0.07em;
        margin-bottom: 9px;
    }
    .portfolio-ver#conteudo .item p{
        font-size: 14px;
        margin-bottom: 20px;
        width: 90%;
    }
    .portfolio-ver#conteudo .item img{

    }
    .portfolio-ver#conteudo .item iframe{
        width: 100%;
    }


    .portfolio-ver.seta-alterar{
        height: 220px;
        width: 27px;
    }
    .portfolio-ver.seta-alterar .svg{
        width: 11px;
    }

    .portfolio-ver.seta-alterar.esquerda{
        padding-left: 2px;
    }
    .portfolio-ver.seta-alterar.direita{
        padding-right: 2px;
    }







    .rodape{

    }
    .rodape#newsletter{
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .rodape#newsletter h3{
        font-size: 17px;
        margin-bottom: 1px;
    }
    .rodape#newsletter p{
        font-size: 13px;
        line-height: 1.3em;
        margin-bottom: 25px;
    }
    .rodape#newsletter form{
        margin: 0px;
    }
    .rodape#newsletter form .form-control{
        font-size: 13.5px;
        padding: 13px 65px;
    }
    .rodape#newsletter form img.origami{
        left: -5px;
        top: -22.5px;
        width: 60px;
    }
    .rodape#newsletter form img.carta-input{
        left: 15px;
        z-index: 95;
        width: 35px;
        top: 12px;
    }
    .rodape#newsletter form button{
        padding: 0 15px;
    }
    .rodape#newsletter form button .svg{
        width: 20px;
    }

    .rodape#informacoes-contato{

    }


    .rodape#informacoes-contato .logo .carousel .item{
        padding: 110px 0;
    }
    .rodape#informacoes-contato .logo .carousel .item.musica{
        background-color: #009c9d;
    }
    .rodape#informacoes-contato .logo .carousel .item.design{
        background-color: #de294c;
    }
    .rodape#informacoes-contato .logo .carousel .item.filme{
        background-color: #f7bd2b;
    }
    .rodape#informacoes-contato .logo .carousel .item .svg{
        position: absolute;
        left: 50%;
        right: auto;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        height: 120px;
    }


    .rodape#informacoes-contato .informacoes{
        position: relative;
        padding-top: 40px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .rodape#informacoes-contato .informacoes .row{
        position: relative;
        top: 0%;
        transform: translateY(0%);
    }
    .rodape#informacoes-contato .informacoes .unidade,
    .rodape#informacoes-contato .informacoes .emails{
        padding-top: 30px !important;
        padding-bottom: 30px !important;
        border-left: 0px;
        border-top: 1px solid rgba(255,255,255,.3);
    }

    .rodape#informacoes-contato .icon-line{
        left: 50%;
        top: -17px;
        transform: translateX(-50%);
        padding: 5px 7px;
    }
    .rodape#informacoes-contato .icon-line .svg path{
        fill: #fff !important;
        opacity: .3;
    }
    .rodape#informacoes-contato .icon-line .svg{
        width: 25px;
        height: 27px;
    }


    .rodape#informacoes-contato .informacoes .row > div{
        padding-left: 25px;
    }
    .rodape#informacoes-contato .informacoes h4{
        font-size: 16px;
        margin-bottom: 7px;
        color: #b6b6b6;
        text-transform: uppercase;
        font-family: 'Panton Black Caps';
    }
    .rodape#informacoes-contato .informacoes a,
    .rodape#informacoes-contato .informacoes p{
        color: #989898;
        font-size: 13.5px;
        line-height: 1.5em;
    }
    .rodape#informacoes-contato .informacoes .emails{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .rodape#redes-sociais{
        padding: 17px 0;
    }
    .rodape#redes-sociais a{
        margin: 0 7px;
    }
    .rodape#redes-sociais a img{
        width: 28px;
    }

    .rodape#direitos{
        padding: 26px 0;
        padding-bottom: 24px;
    }
    .rodape#direitos p{
        font-size: 13px;
        font-weight: normal;
    }


    #idiomas{
        right: 10px;
        top: 15px;
    }
    #idiomas a{
        display: block;
        transition: .2s;
    }
    #idiomas a:first-child{
        position: relative;
        top: 2px;
    }
    #idiomas a:hover{
        opacity: 0.7;
        transition: .2s;
    }
    #idiomas a .svg{
        width: 25px;
    }


}
